<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Cool Calculator</title>
</head>
<h1>Cool Calculator</h1>
<body>

	<form action="/total" method="post">
		<input type="number" name="firstNumber" required> <select
			name="operator">
			<option>+</option>
			<option>-</option>
			<option>*</option>
			<option>/</option>
			<option>^</option>
		</select> <input type="number" name="secondNumber" required>
		<button>Add it up</button>
	</form>

	{{#answer}}
	<h3>Answer {{ answer }}</h3>
	{{/answer}}
</body>
</html>